html,
body {
	max-width: 100vw;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* default styles resets */
a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}
